venv
.idea
.DS_Store
.pytest_cache
.venv
__pycache__
credentials.py
.env
allure-results/
allure-report/
allure-reports/
allureresults/
allure-results/
 pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.hypothesis
.idea/
.idea
*.iml
